h1, h2, h3, p,h4, h5, ul, ol, li, dl, dt, dd, form, figure, form {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  font-weight: normal;
}

.clear {
  clear:both;
}


a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  color: white;
  opacity: 1;
}

img {
  max-width: 100%;
  height:auto;
  width:auto;
  max-height:100%;
}


li	{
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'geo','-apple-system','BlinkMacSystemFont','han','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic','sans-serif';
  background-color: #1A1A1A;
  line-height: 0;
}

p {
  color:#D1D1D1;
}

h2 {
  color:#fff;
}

h3 {
  color:#d1d1d1;
}

@font-face {
  font-family:geo;
  src: url('../fonts/GeosansLight.ttf') format("truetype");
}

@font-face {
  font-family:han;
  src: url('../fonts/Hannari.otf') format("truetype"),
  url('../fonts/Hannari.woff');
}

@font-face {
  font-family:han2;
  src: url('../fonts/Hannari2.otf') format("truetype");
}
/* リセットCSSここまで-------------------------------------------- */

/* -------------------------------------------------------------
フェードインcss
------------------------------------------------------------- */
#loading{
  position: relative;
  top: 50%;
  text-align: center;
}

#loader-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #1a1a1a;
  z-index: 2;
}

.fadein{
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 2s;
}

.fadein.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}

/* ぐるぐるローディング画面の記述 */
.loader {
  position: absolute;
  border-left: 2px solid #ffffff;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 46px;
  width: 46px;
  left: 50%;
  top: 50%;
  margin: -23px 0 0 -23px;
  text-indent: -9999em;
  font-size: 10px;
  z-index: 9999;
  -webkit-animation: load 0.8s infinite linear;
  -moz-animation: load 0.8s infinite linear;
  -ms-animation: load 0.8s infinite linear;
  -o-animation: load 0.8s infinite linear;
  animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* ------------------------------------------------------------
ヘッダー
------------------------------------------------------------ */
header{
  height: 100vh;
}

.dd{
  text-align: center;
}

.logo i{
  color: white; 
}

.logo-p1{
  color: white;
  font-size: 100px;
  padding-top: 80px;
  letter-spacing: 0.1em;
  font-family: geo;
}

.red{
  display: inline-block;
  color: #EC5F59;
}

.top-img{
  position: relative;
  top: 30%;
}

/* ------------------------------------------------------------
ナビゲーションバー
------------------------------------------------------------ */
.navbar-custom{
  position: fixed;
  background-color: rgba(10, 10, 10, 0.9);
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  z-index: 1;
  font-weight: 300;
  transition: background, padding 0.4s ease-in-out 0s;
}

.navbar-custom, .navbar-list{
  color: #fff;
}

.navbar-transparent{
  background: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-brand{
  font-size: 32px;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
  letter-spacing: 3px;
}

/* --------------------------------------------------------------
メッセージ
-------------------------------------------------------------- */
.main{
  height:100vh;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #1A1A1A;
}

.letter{
  writing-mode: vertical-rl;
  width: 100%;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
}

.main-p,.main-p2,.main-p3,.main-p4,.main-p5,.main-p6,.main-p7,.main-p8,.main-p9,.main-p10{
  padding-left: 50px;
  font-family: han2;
}

.main-p10{
  padding-left: 0px!important;
}

.main-r{
  width: 70%;
}

/* -----------------------------------------------------------
about
----------------------------------------------------------- */
.about{
  background-image: url("../img/about.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.9;
}

.wrap{
  background-color: #1a1a1a;
  opacity: 0.9;
  border-radius: 20px;
  z-index: 0;
  padding: 40px 0px;
}

.ab{
  margin-bottom: 50px!important;
}

.me{
  border-radius: 0;
  display: inline-block;
  width: 80%;
  filter: saturate(150%);
}

.skills{
  font-size: 30px;
  padding: 18px 0;
  color: #fff;
  width: 100%;
}

.bar{
  padding-bottom: 10px;
}

.about{
  padding-top: 70px;
  padding-bottom: 60px;
  height: auto;
}

.about p{
  color: #fff;
}

.about-p{
  font-size: 40px;
}

.about-p1{
  margin-bottom: 10px;
  font-size: 20px;
}

.about-p2{
  margin-bottom: 10px;
  font-size: 16px;
}

.about-p3{
  margin-bottom: 30px;
  font-size: 16px;
}

.about-p4{
  margin-bottom: 20px;
  font-size: 16px;
}

.h2-contents{
  font-size: 50px;
  margin-bottom: 65px;
  text-align: center;
}

.fab{
  margin-top: 40px;
  font-size: 40px;
  color: #fff;
}

.right{
  padding-top: 0px;
}

.row{
  width: 90%;
  margin: 0 auto;
}

.progress{
  background-color: #31485C;
  margin-bottom: 15px;
}

.progress-bar{
  transition-duration: 5s;
  background-color: #fff;
}

.fa-twitter:hover{
  color:#9EE9FA;
}

.fa-facebook:hover{
  color: #31485C;
}

.fa-wordpress{
  color: #ccc;
}

.icon{
  margin-top: 0px;
  width: 80%;
}

.about table{
  font-size: 16px;
}

/* --------------------------------------------------
service
-------------------------------------------------- */

.service{
  padding-top: 70px;
  background-image: url("../img/yoga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  line-height: 1.9;
}

.service-h3{
  margin-bottom: 60px;
  font-size: 18px;
  color: #fff;
}

.circle1{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #4295A5;
  text-align: center;
  line-height: 260px;
  vertical-align: middle;
  color: #fff;
}

.circle2{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #EC5F;
  text-align: center;
  line-height: 260px;
  vertical-align: middle;
  color: #fff;
}

.circle3{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #EC5F59;
  text-align: center;
  line-height: 260px;
  vertical-align: middle;
  color: #fff;
}

.fa-desktop{
  font-size: 90px;
}

.fa-wordpress,.fa-building{
  font-size: 90px;
}

.fab{
  color: #fff;
}

.title-text{
  padding-top: 50px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

.title-sub{
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.caption{
  color: #fff;
}

/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/
/* セレクション */
::-moz-selection {
  background: #000;
  color: #fff;
}

::-webkit-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

/* 入力ファイルの共通スタイル */
.form-control {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
  height: 33px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  transition: all 0.4s ease-in-out 0s;
}

.form-control:focus {
  border-color: #CACACA;
}

/* 入力フォームのサイズ */
.input-lg,
.form-horizontal .form-group-lg .form-control {
  height: 43px;
  font-size: 13px;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
  height: 29px;
  font-size: 10px;
}

.rqst-form {
  margin-top: 27px;
}

.rqst-form .btn {
  margin-top: 5px;
}

.input-group-addon {
  border: 1px solid #e4e4e4 !important;
}

/*--------------------------------------------------------------
Buttons
--------------------------------------------------------------*/
.btn {
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.btn.btn-round {
  border-radius: 2px;
}

.btn.btn-circle {
  border-radius: 30px;
}

.btn.btn-w {
  background: rgba(255, 255, 255, 0.8);
  color: #111;
}

.btn.btn-w:hover,
.btn.btn-w:focus {
  background: white;
  color: #111;
}

.btn.btn-g {
  background: #e5e5e5;
  color: #111;
}

.btn.btn-g:hover,
.btn.btn-g:focus {
  background: #d8d8d8;
  color: #111;
}

.btn.btn-border-w {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
}

.btn.btn-border-w:hover,
.btn.btn-border-w:focus {
  background: #fff;
  border-color: transparent;
  color: #111;
}

.btn.btn-d {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(17, 17, 17, 0.8);
}

.btn.btn-d:hover,
.btn.btn-d:focus {
  background: #999;
}

.btn.btn-b {
  background: #111111;
  color: #fff;
}

.btn.btn-b:hover,
.btn.btn-b:focus {
  background: rgba(17, 17, 17, 0.8);
}

.btn-border-d {
  background: transparent;
  border: 1px solid #111111;
  color: #111;
}

.btn.btn-border-d:hover,
.btn.btn-border-d:focus {
  background: #111111;
  color: #fff;
}

.btn.btn-font-w {
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
}

.btn.btn-font-w:hover {
  background: #fff;
  color: #111;
}

/* Buttons size */
.btn.btn-lg {
  padding: 12px 45px;
  font-size: 13px;
}

.btn.btn-sm {
  padding: 6px 25px;
  font-size: 10px;
  letter-spacing: 1px;
}

.btn.btn-xs {
  padding: 4px 19px;
  font-size: 10px;
  letter-spacing: 0;
}

.btn-list .btn {
  margin: 5px 0;
}

.search-btn {
  position: absolute;
  background: transparent;
  border: none;
  overflow: hidden;
  top: 50%;
  right: 1px;
  width: 42px;
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  outline: none;
  color: #999;
  margin-top: -20px;
}

.image-button {
  margin: 0px 5px;
}

/*---------------------------------------------------------------
contact
/*---------------------------------------------------------------*/

/* 入力フォームを中央揃え */
.contact-form{
  justify-content: center;
}

.contact{
  padding-top: 100px;
  height: 100vh;
  line-height: 1.9;
}

.main-contents{
  height: 20vh;
  position: relative;
}

.main-contents:before{
  position: absolute;
  content: "";
  background: #333;
  width: 1px;
  height: 100%;
  left: 50%;
  top: 20%;
}

.parent{
  text-align: center;
}

.san{
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 75px 100px 75px;
  border-color: transparent transparent #d1d1d1 transparent;
  line-height: 0px;
  position: relative;
  top: 30px;
}


/* -----------------------------------------------------
フッター
----------------------------------------------------- */

footer{
  position: relative;
  background-color: #000;
  opacity: 0.8;
  margin-top: 50px;
  line-height: 1.9;
}

.footer-p{
  color: #fff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 8.0px;
}

/* -----------------------------------------------------
各ページの画面サイズ・フォント・イメージ画像
----------------------------------------------------- */
#login{
  background: url('../img/login.jpg') no-repeat;
}

#register{
  background: url('../img/register.jpg') no-repeat;
}

#check{
  background: url('../img/check.jpg') no-repeat;
}

#rg-check{
  background: url('../img/rg-check.jpg') no-repeat;
}

#thanks{
  background: url('../img/thanks.jpg') no-repeat;
}

#rg-thanks{
  background: url('../img/rg-thanks.jpg') no-repeat;
}

#login, #register, #check, #rg-check, #thanks, #rg-thanks{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
}

/* -----------------------------------------------------
各ページ共通フォームの記述
----------------------------------------------------- */
.form-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.form-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid rgba(80, 253, 152, 0.8);
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid rgba(80, 253, 152, 0.8);
}

.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.form-box .btn{
  width: 100%;
  background: none;
  border: 2px solid rgba(80, 253, 152, 0.8);
  color: #fff;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.form-box .btn:hover{
  background: rgba(80, 253, 152, 0.4);
}

/* -----------------------------------------------------
各ページのテキスト・ボタン表示
----------------------------------------------------- */
#register input::placeholder,
#login input::placeholder{
  color: rgba(255, 255, 255, 0.6);
}

#check .textbox,
#rg-check .textbox,
#thanks .textbox,
#rg-thanks .textbox{
  display: flex;
}

#check p,
#rg-check p,
#thanks p,
#rg-thanks p{
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: #fff;
}

#check .return, 
#check .ok,
#rg-check .return,
#rg-check .ok,
#rg-thanks .top,
#rg-thanks .login{
  float: left;
  width: 45%;
}

#check .return,
#rg-check .return,
#rg-thanks .top{
  margin-right: 10%;
}

#thanks a,
#rg-thanks a{
  opacity: 1;
}

/*--------------------------------------------------------------
スマホ用css
--------------------------------------------------------------*/
.pc{
  display: block!important;
}

.letter{
  display: block;
}

.sp{
  display: none;
}


/*--------------------------------------------------------------
レスポンシブ
--------------------------------------------------------------*/
@media(max-width: 768px){
  #menu{
    display: none;
  }
  
  .pc{
    display: none;
  }
  
  .nn{
    display: none;
  }
  
  .sp{
    display: block;
  }
  
  .new{
    display: none;
  }
  
  .br-sp{
    display: block;
  }
  
  .br-nn{
    display: none;
  }
  
  /* ------------------------------------------------------------
  ヘッダー（スマホ）
  ------------------------------------------------------------ */
  .dd{
    position: static;
    text-align: center;
  }
  
  .logo-p1{
    color: white;
    font-size: 40px;
    padding-top: 30px;
    letter-spacing: 0.1em;
  }
  
  .top-img{
    position: relative;
    top: 30%;
  }
  
  #loading{
    position: relative;
    top: 30%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  /* --------------------------------------------------------------
  メッセージ（スマホ）
  -------------------------------------------------------------- */
  .main{
    height: auto;
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #1A1A1A;
  }
  
  .letter{
    writing-mode: lr-tb;
    width: 90%;
    letter-spacing: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding-bottom: 30px;
    margin: 0 auto;
  }
  
  .main-p,.main-p2,.main-p3,.main-p4,.main-p5,.main-p6,.main-p7,.main-p8,.main-p9,.main-p10{
    padding-left: 0px!important;
    padding-bottom: 20px;
    font-family: han;
  }
  
  .main-p10{
    margin-left: 0px;
  }
  
  .main-r{
    width: 100%;
    margin: 0 auto;
  }
  
  .button{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 1.9;
  }
  
  .example{
    margin: 0;
    font-size: 30px;
    border: solid white 2px;
    padding: 0px 0px;
    color: #1a1a1a;
    text-decoration: none;
    box-shadow: 0 2px #fff;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    letter-spacing: 0.6em;
    padding-left: 20px;
  }
  
  /* -----------------------------------------------------------
  about（スマホ）
  ----------------------------------------------------------- */
  .h2-contents{
    font-size: 30px;
    margin-bottom: 65px;
    text-align: center;
  }
  
  .about{
    background-image: url("../img/about.jpg");
    background-position: 54% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto!important;
  }
  
  .ab{
    margin-bottom: 40px!important;
  }
  
  .me{
    border-radius: 0;
    display: inline-block;
    width: 90%;
    margin-bottom: 20px;
  }
  
  .skills{
    font-size: 30px;
    padding: 20px;
    color: #fff;
  }
  
  .about{
    padding-top: 40px;
    padding-bottom: 50px;
  }
  
  .about-p{
    font-size: 30px;
  }
  
  .about-p1{
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  .about-p2{
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .about-p3{
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .about-p4{
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .about table{
    font-size: 12px;
  }
  
  .fab, .fas{
    margin-top: 40px;
    font-size: 30px;
    color: #fff;
  }
  
  .cc{
    text-align: left;
  }
  
  .icon{
    margin-top: 0px;
    width: 100%;
  }
  
  .sp-icon{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  /* --------------------------------------------------
  service（スマホ）
  -------------------------------------------------- */
  .service{
    padding-top: 50px;
    padding-bottom: 30px;
    background-image: url("../img/yoga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 18% 0%;
    height: auto;
  }
  
  .service-h3{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 14px;
    color: #fff;
    line-height: 1.5em;
  }
  
  .hg{
    margin-bottom: 50px;
  }
  
  .circle1{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4295A5;
    text-align: center;
    line-height: 165px;
    vertical-align: middle;
    color: #fff;
  }
  
  .circle2{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #EC5F;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    color: #fff;
  }
  
  .circle3{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #EC5F59;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    color: #fff;
  }
  
  .fa-desktop{
    font-size: 60px;
    margin-top: 50px;
  }
  
  .fa-wordpress,.fa-building{
    font-size: 70px;
  }
  
  .title-text{
    padding-top: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }
  
  .title-sub{
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 14px;
    color: #fff;
  }
  
  .caption{
    color: #fff!important;
    padding-bottom: 50px;
  }
  
/*---------------------------------------------------------------
contact（スマホ）
/*---------------------------------------------------------------*/
  .contact{
    padding-top: 50px;
    height: auto;
    padding-bottom: 0px;
  }
  
  .main-contents{
    height: 10vh;
    position: relative;
  }
  
  .main-contents:before{
    position: absolute;
    content: "";
    background: #333;
    width: 1px;
    height: 100%;
    left: 50%;
    top: 20%;
  }
  
  .parent{
    text-align: center;
  }
  
  .san{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 40px 30px;
    border-color: transparent transparent #d1d1d1 transparent;
    line-height: 0px;
    position: relative;
    top: 5px;
  }
  
/* -----------------------------------------------------
フッター（スマホ）
----------------------------------------------------- */
  footer{
    position: relative;
    background-color: #000;
    opacity: 0.8;
  }
  
  .footer-p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 15px 0;
  }
  
}